<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CitySleuth - Contact Us</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <ul>
      <li><h2>CitySleuth</h2></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
      <li style="float: right"><a href="/contact">Contact</a></li>
      <li style="float: right">
        <a href="/account-settings">Account Settings</a>
      </li>
      <li style="float: right"><a href="/dashboard">Dashboard</a></li>
      <li style="float: right"><a href="/home">Home</a></li>
    </ul>
    <div class="reg_login_welcome">
      <p>
        If you have any questions about the app or its author,&nbsp;please
        contact us at: citysleuth@gmail.com
      </p>
    </div>
    <footer>Birkbeck Computer Science MSc Project</footer>
  </body>
</html>
