<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerulean - a fast, free travel recommendation app</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Cerulean - a fast, free travel recommendation app</h1>
      <nav></nav>
    </header>
    <div class="parent">
      <div class="welcome">
        <h3>Hello, <%=username%>!</h3>
        <p>
          You have successfully logged in. Please wait while we build the site.
        </p>
        <div>
          <p>Don't want to hang around? <a href="/logout">Logout</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
