<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhereAmI? - A fast, free travel recommendation app</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      body {
        background: lightcoral;
        padding: 0 10px;
        background-image: url(/registerbackground.jpg);
      }

      .welcome {
        float: left;
        width: 50%;
        padding: 20px;
      }

      .wrapper {
        float: left;
        max-width: 500px;
        width: 100%;
        margin: 20px auto;
        padding: 30px;
        box-shadow: 1px 1px 2px;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="parent">
      <div class="welcome">
        <h1>Welcome to WhereAmI? - a fast, free travel recommendation app</h1>
        <p>
          You have successfully logged in. Please wait while we build the site.
        </p>
        <div>
          <p>Don't want to hang around? <a href="/logout">Logout</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
