<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerulean - a fast, free travel recommendation app</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <header>
      <h1>Cerulean - a fast, free travel recommendation app</h1>
    </header>
    <div class="dropdown-menu-right">
      <button onclick="dropdownFunc()" class="dropbtn">Menu</button>
      <div id="menu" class="dropdown_menu">
        <a href="#">Update Profile</a>
        <a href="#">Contact</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="parent">
      <div class="welcome">
        <h3>Hello, <%=username%>! Looks like you're in...</h3>
        <button onclick="getLocation()">Enable location services</button>
        <p id="location"></p>
        <p>
          You have successfully logged in. Please wait while we build the site.
        </p>
      </div>
    </div>
    <div class="googlemap">
      <iframe
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAwvO4w6URyS1Rs15buwNKrF8xCPB9vJRA&center=37.4218,-122.0840"
        allowfullscreen
      >
      </iframe>
    </div>
    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      // To modify
      function dropdownFunc() {
        document.getElementById("menu").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdown_list = document.getElementsByClassName("dropdown_menu");
          var i;
          for (i = 0; i < dropdowns_list; i++) {
            var openDropdown = dropdown_list[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <script>
      // To modify
      var x = document.getElementById("location");

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      function showPosition(position) {
        x.innerHTML =
          "Latitude: " +
          position.coords.latitude +
          "<br>Longitude: " +
          position.coords.longitude;
      }
    </script>
  </body>
</html>
