<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerulean - Login</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>Cerulean - a fast, free travel recommendation app</h1>
      </header>
    <div class="parent">
        <div class="welcome">
    <p>Welcome to Cerulean, a web application developed for the Birkbeck Computer Science MSc Project. This app helps you find what you're looking for quickly and easily, all in one place. Looking for a cinema, somewhere to grab some dinner or some local tourist landmarks? We've got you covered!
    </p>
</div>
    <div class="wrapper">
      <div class="title">Login to Cerulean</div>
      <form action="/login" method="POST">
        <div class="input_field">
          <label>Username</label>
          <input type="text" name="username" class="input" />
        </div>
        <div class="input_field">
          <label>Password</label>
          <input type="password" name="password" class="input" />
        </div>
        <div class="input_field">
          <input type="submit" value="Login" class="bttn" />
        </div>
        <div>
          <p>Don't have an account with us? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
</div>
<footer>Birkbeck Computer Science MSc Project</footer>
  </body>
</html>
