<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerulean - Login</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>Welcome to Cerulean - a fast, free travel recommendation app</h1>
      </header>
    <div class="parent">
        <div class="welcome">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus perferendis vitae vel atque cum sit consequatur ipsam. Temporibus facere excepturi veritatis qui expedita maxime nemo doloribus consectetur commodi molestiae eos a libero deserunt facilis, iusto vero, ab assumenda dolor. Harum eveniet illum unde earum velit ipsum, voluptates, maiores saepe ut, animi qui! Distinctio cupiditate beatae sint laudantium! Laboriosam eligendi quo corrupti sint repellendus sed architecto eum assumenda alias aliquam obcaecati, sequi sit vitae, magni ipsum et rerum nesciunt culpa molestiae fuga possimus esse veniam voluptatum. Dolore dignissimos aliquam numquam corporis voluptatum doloremque, pariatur fugiat repellendus iure, eligendi id magnam?
    </p>
</div>
    <div class="wrapper">
      <div class="title">Login to Cerulean</div>
      <form action="/login" method="POST">
        <div class="input_field">
          <label>Username</label>
          <input type="text" name="username" class="input" />
        </div>
        <div class="input_field">
          <label>Password</label>
          <input type="password" name="password" class="input" />
        </div>
        <div class="input_field">
          <input type="submit" value="Login" class="bttn" />
        </div>
        <div>
          <p>Don't have an account with us? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
</div>
  </body>
</html>
