<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CitySleuth - Update Profile</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <ul>
      <li><h2>CitySleuth</h2></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
      <li style="float: right"><a href="/contact">Contact</a></li>
      <li style="float: right">
        <a href="/my-account">My Account</a>
      </li>
      <li style="float: right"><a href="/dashboard">Dashboard</a></li>
      <li style="float: right"><a href="/home">Home</a></li>
    </ul>
    <div class="reg_login_welcome" id="messageContainer">
      <h3>Do you want to delete your account?</h3>
      <p>Please confirm your username and press "Confirm":</p>
      <input type="text" id="deleteInput" placeholder="Enter username" />
      <input type="submit" id="deleteButton" value="Confirm" />
    </div>
    <footer>Birkbeck Computer Science MSc Project</footer>
    <script src="userFunctions.js"></script>
  </body>
</html>
