<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorldGuide - Register for an account</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>WorldGuide - a fast, free travel recommendation app</h1>
      </header>
    <div class="parent">
    <div class="welcome">
    <p>Welcome to WorldGuide, a web application developed for the Birkbeck Computer Science MSc Project. This app helps you find what you're looking for quickly and easily, all in one place. Looking for a cinema, somewhere to grab some dinner or some local tourist landmarks? We've got you covered!</p>
  </div>
    <div class="wrapper">
      <div class="title">Sign up with WorldGuide</div>
      <form action="/register" method="POST">
        <div class="input_field">
          <label>Username</label>
          <input type="text" name="username" class="input" />
        </div>
        <div class="input_field">
          <label>Email Address</label>
          <input type="email" name="email" class="input" />
        </div>
        <div class="input_field">
          <label>Password</label>
          <input type="password" name="password" class="input" />
        </div>
        <div class="input_field">
          <input type="submit" value="Sign Up" class="bttn" />
        </div>
        <div>
          <p>Already have an account with us? <a href="/login">Login</a></p>
        </div>
      </form>
      </div>
    </div>
  </div>
  <footer>Birkbeck Computer Science MSc Project</footer>
  </body>
</html>
