<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CitySleuth - Register for an account</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <header>
      <h1>CitySleuth</h1>
    </header>
    <div class="reg_login_welcome">
      <p>
        Welcome to CitySleuth,&nbsp;a web application developed for the Birkbeck
        Computer Science MSc Project.&nbsp;This app helps you find what you're
        looking for quickly and easily,&nbsp;all in one place.&nbsp;Looking for
        a cinema,&nbsp;somewhere to grab some dinner or some local tourist
        landmarks?&nbsp;We've got you covered!
      </p>
      <!-- <img src="https://picsum.photos/300/300/?random" /> -->
    </div>
    <div class="wrapper">
      <div class="title">Sign up with CitySleuth</div>
      <form action="/register" method="POST">
        <div class="input_field">
          <label>Username</label>
          <input type="text" name="username" class="input" />
        </div>
        <div class="input_field">
          <label>Email Address</label>
          <input type="email" name="email" class="input" />
        </div>
        <div class="input_field">
          <label>Password</label>
          <input type="password" name="password" class="input" id="password" />
        </div>
        <div class="input_field">
          <label>Show Password</label>
          <input type="checkbox" onclick="toggle()" />
        </div>
        <script>
          function toggle() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
        </script>
        <div class="input_field">
          <input type="submit" value="Sign Up" class="bttn" />
        </div>
        <div>
          <p>Already have an account with us? <a href="/login">Login</a></p>
        </div>
      </form>
    </div>
    <footer>Birkbeck Computer Science MSc Project</footer>
  </body>
</html>
